{% extends 'base.html' %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputAddress">질문</label>
            <input type="text" class="form-control" id="inputAddress" name="title" value='{{question.title}}'>
        </div>        
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputEmail4">Choice 1</label>
            <input type="text" class="form-control" id="inputEmail4" name="content_a" value='{{question.content_a}}'>
            </div>
            <div class="form-group col-md-6">
            <label for="inputPassword4">Choice 2</label>
            <input type="text" class="form-control" id="inputPassword4" name="content_b" value='{{question.content_b}}'>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
{% endblock %}